html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: "heebo";
}

/*Navbar:*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  margin: -10px;
  /*background: rgba(0, 0, 0, 0.5);*/
  top: 0;
  z-index: 99;
  font-family: 'Heebo';
  box-sizing: border-box;
}

.logo_navbar {
  height: 40px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  justify-content: space-between; /* Jævn fordeling af menu elementer */
  flex-grow: 1;
  list-style: none;
}

.navbar-menu li {
  margin: 0 16px;
}

.navbar-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-button:hover {
  cursor: not-allowed;
  color: #E9C46A;
}

/*Hero-banner:*/

.hero-banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.hero-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 117%;
  object-fit: cover; /* Sikrer at billedet dækker hele containeren */
  z-index: -1; /* Placer billedet bagved indholdet */
}

.hero-content {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.hero-logo {
  min-width: 500%;
  max-width: 500%;
  margin-bottom: 16px;
  transition: none;
}

.booknu-button {
  margin-top: 16px;
  padding: 16px 32px;
  background-color: #E87052;
  color: white;
  border: solid #E87052;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.booknu-button:hover {
  background-color: white;
  color: #E87052;
  border: solid #E87052;
  transform: none;
}

/*Green info-box:*/

.info-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #053835;
  color: white;
  padding: 32px 0;
  position: relative;
  margin-left: -15px;
  margin-right: -10px;
  margin-top: 10px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-icon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.info-text {
  font-size: 20px;
}

/* Hvad-er-CWC section:*/

.hvad-er-cwc {
  background-color: #F6F6F6;
}

.showcase-flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.venuephoto-one {
  width: 700px;
  margin-left: 100px;
}

.showcase-text-wrap {
  margin-top: 30px;
  margin-left: 70px;
}

.hvad-er-h1 {
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: 400;
}

.showcase-text-left {
  font-size: 16px;
  word-wrap: break-word;
  /*width: 300px;*/
  text-align: justify;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}

/*Prices section: */

.priser-section {
  background-color: #053835;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.priser-h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #E9C46A;
  text-align: left;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 70px;
  font-weight: 400;
}

.price-wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.price-box {
  background-color: #fff;
  color: #004d45;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dag-p {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
}

.price {
  font-size: 20px;
  font-weight: 900;
}

.semere-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 32px;
  background-color: #E87052;
  color: white;
  border: solid #E87052;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.semere-button:hover {
  background-color: white;
  color: #E87052;
  border: solid #E87052;
  transform: none;
  cursor: not-allowed;
}

/*Review-section:*/

.review-section {
  background-color: #F6F6F6;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.review-h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #232929;
  text-align: left;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 70px;
  font-weight: 400;
}

.review-wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}


.review-box {
  background-color: #fff;
  color: #004d45;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewer-author {
  font-size: 24px;
  font-weight: 500;
}

.review-text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.review-button {
  height: 80px;
  width: 80px;
  background-color: #A0A0A0;
  color: white;
  border: solid #FFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-width: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  line-height: 0px;
}

.review-button:hover {
  height: 80px;
  width: 80px;
  background-color: #1A6863;
  color: white;
  border: solid #FFFF;
  border-width: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  line-height: 0px;
  cursor: not-allowed;
}

/* Event-type section: */

.eventtype-section {
  background-color: #053835;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.eventtype-h4 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #E9C46A;
  text-align: left;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 70px;
  font-weight: 400;
}

.eventtype-wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.eventtype-box {
  background-color: #fff;
  color: #004d45;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  width: 300px;
  height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.eventtype-headline {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
}

.eventtype-text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
  color: #000000;
}

.eventtype-image-container {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

.eventtype-box:hover .eventtype-image {
  opacity: 0.8;
}

.eventtype-box:hover .eventtype-mereinfo {
  opacity: 1;
}


.eventtype-image {
  display: block;
  width: calc(100% + 40px);
  width: 100%;
  margin: 0px;
}


.eventtype-mereinfo {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: #004d45;
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: not-allowed;
}

/* Hvorfor CWC: */

.hvorfor-cwc {
  background-color: #F6F6F6;
  min-height: 500px;
}


.interiormap {
  width: 700px;
  margin: 50px 50px 50px 100px;
}

.showcase-text-wrap-hvorfor {
  margin-top: 30px;
  margin-left: 70px;
  flex: 1;
}

.hvorfor-minioverskrift {
  margin-top: 30px;
  margin-bottom: -70px;
}

.hvorfor-h5 {
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: 400;
}

.showcase-text-left-hvorfor {
  font-size: 16px;
  word-wrap: break-word;
  width: 600px;
  text-align: justify;
}

.hvorfor-liste {
  margin-bottom: 20px;
}